<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Discuss!</title>

     <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="light-blue">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">
          Discussions
        </a>
        <ul class="right">
          <li>
            <%# <%= if @conn.assigns[:user] %>
            <%= if assigns.user do %>
              <%= assigns.user.full_name %>
              <%= link "Logout", to: auth_path(@conn, :logout), class: "waves-effect waves-light btn" %>
            <% else %>
              <%= link "Sign in with GitHub", to: auth_path(@conn, :request, "github"), class: "waves-effect waves-light btn" %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
     <!-- /container -->

    <script>
      var _msgs = {
        info: "<%= get_flash(@conn, :info) %>",
        error: "<%= get_flash(@conn, :error) %>"
      };
      if (M && M.toast) {
        _msgs.info && M.toast({
          html: _msgs.info,
          classes: 'toast-info'
        });
        _msgs.error && M.toast({
          html: _msgs.error,
          classes: 'toast-error'
        });
      }
    </script>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
