<%= form_for @changeset, topic_path(@conn, :create), fn f -> %>
  <div class="form-group">
    <%= text_input f, :title, [placeholder: "Title", class: "form-control", id: "title"] %>
    <%= error_tag f, :title %>
  </div>

  <button class="btn btn-primary waves-effect waves-light" type="submit" name="action">
    <i class="material-icons right">send</i>Save Topic
  </button>
<% end %>
