/* This file is for your main application css. */

body {
  padding: 0;
  margin: 0;
}

.help-block {
  color: red;
  text-transform: uppercase;
  font-size: 12px;
  position: absolute;
  top: 46px;
  left: 0;
}

.form-group {
  position: relative;
  margin-bottom: 2rem;
}

.toast-info {
  background: green;
}

.toast-error {
  background: red;
  color: white;
}